/* logo or main heading */
.nav_left {
    background-color: #fff;
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 15px;
    padding: 0.5em 0.5em 0 0.5em;
    color: #000;
    margin: 0 10px 0 10px;
}

.nav-tabs .dropdown-menu {
    margin: 0 10px 0 10px;
}

.nav-tabs #button-link.nav-link {
    background-color: #000;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    color: #fff;
}

.nav-tabs #button-link.nav-link a.dropdown-toggle {
    text-decoration: none;
    color: #fff;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link:focus,
.nav-link:hover {
    color: #000;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #000;
}

@media (max-width: 990px) {
    .nav-tabs .nav-link {
        margin-bottom: 10px;
    }
}