.header {
  background-color: red;
  color: white; 
}

.font-ty{
  font-family: Arial, Helvetica, sans-serif;
}

.logo-container{
  margin-left: 120px;
  margin-right: 160px;
}

.fact-container-details { float:left;margin-left:5px; }